.loader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}

.meta {
  color: #757575;
  font-size: smaller;
  vertical-align: bottom;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fs-small {
  font-size: small;
}

a {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin: 8px auto;
  width: 100%;
}

th {
/*  border-bottom: 1px solid #ddd; */
  font-weight: bold;
  text-align: left;
}

table caption {
  font-weight: bold;
  padding: 2px 5px;
  width: 100%;
}

.table-striped th,
.table-striped td {
  padding: 3px 5px 3px 0;
}

.table-striped th:first-child,
.table-striped td:first-child {
  padding-left: 5px;
}

th,
.row-bg-light,
table caption,
.table-striped tr:nth-child(odd) {
  background-color: #fafafa;
}

.table-list {
/*  display: list-item;
  margin-left: 22px; */
}

::marker {
  color: #49545c;
  font-size: small
}

.table-list tr td:first-child::before {
  color: #49545c;
  content: "\2022";
  display: inline-block;
  font-size: 18px;
  margin-right: 8px;
  vertical-align: top;
}

.accordion {
  background-color: #f5f5f5;
  border: none;
  color: #444;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 10px;
  text-align: left;
  transition: 0.4s;
  width: 95%;
}

.active, .accordion:hover {
  background-color: #eee;
}

.accordion:after {
  color: #777;
  content: '\002B';
  float: right;
  font-weight: bold;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  background-color: white;
  display: none;
  width: 95%;
}

.panel p {
  margin-top: 10px;
}

.legend-panel {
  width: 95%;
}

.panel.show  {
  display: block;
  margin-bottom: 10px;
  transition: display 0.2s ease-out;
}

.c-tag {
    padding: 0px 5px;
}

hr {
  border-color: #ddd;
  margin: 10px auto 5px;
  width: 80%;
}
