.loader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}

.meta {
  color: #757575;
  font-size: smaller;
  vertical-align: bottom;
}

.text-center {
  text-align: center;
}

.fs-small {
  font-size: small;
}

.table-striped {
  border-collapse: collapse;
  width: 100%;
}
.table-striped td {
  padding: 3px 5px 3px 0;
}

.table-striped td:first-child {
  padding-left: 5px;
}
.table-striped tr:nth-child(even) {
  background-color: #fafafa;
}

.accordion {
  background-color: #f5f5f5;
  border: none;
  color: #444;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 10px;
  text-align: left;
  transition: 0.4s;
  width: 95%;
}

.active, .accordion:hover {
  background-color: #eee;
}

.accordion:after {
  color: #777;
  content: '\002B';
  float: right;
  font-weight: bold;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  background-color: white;
  display: none;
  padding: 0 5px;
  width: 95%;
}

.panel p {
  margin-top: 10px;
}

.panel.show  {
  display: block;
  margin-bottom: 10px;
  transition: display 0.2s ease-out;
}

.purchase-status {
  background-color: #ff0;
  border-radius: 50%;
  display: block;
  height: 5px;
  width: 5px;
}

/* Collections */
.purchase-status-0 {
  background-color: #f44336;
}

/* Paid */
.purchase-status-1 {
  background-color: #4caf50;
}

/* Refunded */
.purchase-status-2 {
  background-color: #ffc107;
}

/* Partially Refunded */
.purchase-status-3 {
  background-color: #ffc107;
}

/* Void */
.purchase-status-4 {
  background-color: #ffc107;
}

/* Declined */
.purchase-status-5 {
  background-color: #f44336;
}

/* Written off */
.purchase-status-6 {
  background-color: #f44336;
}

/* Pending */
.purchase-status-7 {
  background-color: #f44336;
}
